*{
    margin: 0;
    color: white;
    font-family: 'amazonember';
}
@font-face {
  font-family: 'amazonember';
  src: url('AmazonEmber_Rg.ttf') format('truetype');
}
a{
  cursor: pointer;
}
body{
  background-color: #0f171e;
}
nav{
  width: 100vw;
  background-color: #1a242f;
}

#current{
  font-weight: bold;
  text-decoration: underline;
}
header > nav > ul > li > img{
  filter: invert(0%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(1000%) contrast(100%);
  padding: 0 0 0 1em;
}
header > nav > ul{
  padding-top:1.5em;
  padding-bottom: 1em;
  padding-left:1em ;
  display: flex;
}
header > nav > ul > *{
  display: inline-block;
  padding:0 2em 0 0;
}
header > nav > ul > li > a{
  text-decoration: none;
  color: rgba(242,244,246,.9);
}
header > nav > ul > li > a:hover{
    text-decoration: none;
    color: white;
}
.dropdownarrow{
    filter: invert(100%);
    width: 8.59px;
}
.dropdownarrowmobile{
    filter: invert(100%);
    width: 8.59px;
}
.nondesktop{
    display:none;
}
.dropdown{
    display:none;
    position: fixed;
    z-index: 1;
}
.dropdownmobile{
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.dropdownmobile > li > a{
  text-decoration: none;
}
.dropdowncategories{
    display: none;
    z-index: 2;
}
.slides{
    width: 100%;
}
.subitem{
    list-style-type: none;
    margin-left:-3em;
    padding:1em 2em 1em 2em;
    border-bottom:1px solid grey;
    background-color: #252e39;
}
.subitemmobile{
  margin-left:-13em;
  list-style-type: none;
  padding:1em 2em 1em 2em;
  border-bottom:1px solid grey;
  background-color: #252e39;
}
.subitemcategories{
  list-style-type: none;
  margin-left:-5em;
  padding:1em 2em 1em 2em;
  border-bottom:1px solid grey;
  background-color: #323e4c;
}
.topitem{
    margin-top:0.5em;
}
.subitem > a{
    text-decoration: none;
}
  .laatzien{
    display:block;
    margin-top:1em;
  }
  .laatzien2{
    display:block;
    margin-top:1em;
    
  }
  .laatzien3{
    display:block;
    margin-bottom:-1.01em;
    margin-top:1em;
  }
  section > img, section > h2{
    display: inline-block;
  }
  main > section > img{
    width: 48px;
    margin: .5em 0 0 2%;
  }
  main > section:first-of-type{
    margin-top: 2em;
  }
  section > h2{
    margin: 0 0 0 2%;
    font-size: 19px;
  }
  main > section {
    position:relative;
  }
  main > section > ul {
    margin:0; padding:.5em 0 0 2em;
    list-style:none;
    background-color: #0f171e;
    display:flex;
    overflow:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; 
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* scrollbar transparent */
  }
  main > section:first-of-type > ul > li {
    width:100vw;
    left:0;
  }
  main > section > ul > li {
    position:relative;
    width:16.67vw;
    padding:0;
    flex-shrink:0;
    padding-left:1.5%;
  }
  main > section:nth-of-type(3) > ul > li{
    width:30vw;
  }
  main > section > ul > li > h2 {
    position:absolute;
    left:0; top:0;
    margin:0; padding:.5em;
    font-size:1em;
    background-color:transparent;
    color:white;
  }
  main > section > ul > li > a > img {
    display:block;
    width:100%;
    height:100%;
    border-radius: 3px;
  }
  main > section > button {
    position:absolute;
    top:2.4em;
    width:2em; line-height:18vh;
    z-index:5;
    font-size:1em;
    font-weight:bold;
    color:white;
    background: rgba(0, 0, 0, 0.5);
    border:none;
    appearance:none;
  }
  main > section > button:first-of-type {
    left:0;
  }
  main > section > button:last-of-type {
    right:0;
  }
  footer{
    display: block;
    text-align: center;
    justify-content: center;
  }
  footer > img{
    filter: invert(0%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(1000%) contrast(100%);
  }
  footer > a{
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  color:#79B8F3;
  }
  footer > p{
    font-size: 13px;
    margin-top: 1em;
    margin-bottom: 3em;
  }
  .detail > img:first-of-type{
    width: 100vw;
    z-index: 2;
  }
  .detail > a{
    text-decoration: none;
  }
  .detail > img:last-of-type{
    margin-right:1em;
    margin-top:1em;
    margin-left:.5em;
  }
  .detail > h1{
    position: absolute;
    top: 0;
    margin-top: 68%;
    z-index: 10;
    margin-left:.5em;
    margin-right:.5em;
  }
  .detail > button{
    background-color: #425265;
    border: none;
    padding: 1em 3em 1em 3em;
    width: 96%;
    text-align: left;
    margin: .5em 0 .5em 0;
    border-radius: 3px;
    font-size:16px;
  }
  .detail > p, .detail > button, .detail > a{
    margin-left:.5em;
    margin-right:.5em;
    display: block;
  }
  .desc{
    margin-left:.5em;
    margin-right:.5em;
    margin-bottom:5em;
  }
  .desc > h3{
    margin-top:5%;
    color:#8197A4;
  }
  .desc > a, .desc > p > a{
    color:#79B8F3;
    text-decoration: none;
  }
  .desc > p{
    color:#8197A4;
  }
  .desc > p:first-of-type{
    color: white;
  }
  .desc> p:last-of-type{
    margin-top:3em;
  }
  .desc > a:nth-child(2), a:nth-child(3), a:nth-child(4){
    display: inline;
  }
  .mobileshow{
    display: none;
  }
  @media screen and (max-width: 768px) {
    header > nav > ul > li > a{
        display:none;
    }
    header > nav > ul > li > img{
      padding: 0 0 0 0;
      left: 0;
  }
    .dropdownselect, img.dropdownarrow{
        display:none;
    }
    nav > ul > li{
      display: none;
    }
    nav > ul > li:nth-child(1){
      display: block;
    }
    nav > ul > li:nth-child(2){
      display: block;
    }
    .prev, .next {
        top: 40%;
    }
    .bolletjes{
       display:none;
    }
    .myslides{
        height:33vh;
    }
    .nondesktop{
        display:block;
    }
    section > img, section > h2{
      display: block;
    }
    main > section > button {
      display: none;
    }
    main > section > ul > li {
      width:45%;
    }
    main > section > ul {
    padding-left:0.2em;
    }
    main > section:nth-of-type(3) > ul > li{
      width:95vw;
    }
    .mobileshow{
      display: block;
      width: 100%;
    }
    .slides{
      display: none;
    }
  }